.yournote, .addNote{
    padding: 5px;
    display: flex;
    border-radius: 5px;
}
.yournote{
    border-style: outset;
    border-color: darkgrey;
    align-items: center;
    justify-content: space-between;
}

.element{
    display: block;
}
.element2{
    display: flex;
    justify-content: space-evenly;
}
.labe{
    display: flex;
}
.box {
    display: flex;
    border: 1px solid black;
}
.addNote{
    justify-content: center;
    height: 100%;
}
.titles{
    display: flex;
    justify-content: center;
}
.addNote label{
    display: block;
    font-size: 20px;
    text-align: center;
}
.addNote input{
    display: flex;
}
.required{
    display: flex;
    justify-content: end;
}
.normal{
    display: flex;
    justify-content:space-between;
}
.required label, .normal label  {
    display: block;
    font-size: 15px;
    text-align: center;
}
.normal label::after{
    content: '  ';
}
.required label::after {
    color: #e32;
    content: ' *';
    display: inline;
}
.form-button{
    display: flex;
    justify-content: center;
}
.clibox, .clidel{ 
    color: black;
    border-radius: 2px;
}
.clibox:hover {
    background-color: green; 
    color: white;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.clidel:hover {
    background-color: red; 
    color: white;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.uptag{
    display: contents;
}
.deltag{

}